<div class="container">
  <div class="page column flex__centered">
    <div class="row flex__centered">
      <p>Engine connection <span class="active-info-btn">{{engineConnected$ | async}}</span></p>
    </div>
    <div class="row flex__centered">
      <h2 class="redirection-header" id="logo" [routerLink]="['/']">Korona wiki</h2>
    </div>
    <div class="row flex__centered">
      <input #search placeholder="Wisła Kraków">
      <button class="action-btn" (click)="onSearch(search.value)">Szukaj</button>
      <button class="action-btn">Filtruj</button>
    </div>
    <div *ngIf="documents$ | async as documents">
      <div class="column flex__centered" *ngFor="let document of documents">
        <h3 class="redirection-header" (click)="showDocument(document.id)">{{document.title}}</h3>
        <p>{{document.text | slice:0:100}}</p>
      </div>
    </div>
    <div>
  </div>
</div>